body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

/*-----------------------------HEADER's START------------------------------*/

.header-main {
    border: 1px solid;
    background-color: black;
}

.header-main-logo {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 10px;
    width: 240px;
    height: 60px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-main-logo a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 44px;
    letter-spacing: 5px;
}


/*-----------------------------HEADER's END------------------------------*/



/*-----------------------------BODY's START------------------------------*/
.container {
    border: 1px solid;
    width: 1140px;
    margin: 0 auto;
    height: 87%;
    display: flex;
    justify-content: center;
}

.prediction-day {
    border: 1px solid black;
    width: 365px;
    background-color: rgba(0, 255, 120, 0.26);
}

.prediction-day span {
    font-size: 66px;
    font-weight: 600;
    line-height: 100px;
}

.prediction-week {
    border: 1px solid green;
    width: 365px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 209, 0, 0.31);
}

.prediction-week span {
    font-size: 66px;
    font-weight: 600;
    line-height: 100px;
}

.prediction-month {
    border: 1px solid red;
    width: 365px;
    background-color: rgba(255, 0, 3, 0.29);
}

.prediction-month span {
    font-size: 66px;
    font-weight: 600;
    line-height: 100px;
}