body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

/*-----------------------------HEADER's START------------------------------*/

.header-main {
    border: 1px solid;
    /*border-bottom-right-radius: 10px;*/
    /*border-bottom-left-radius: 10px;*/
    background-color: black;
}

.header-main-logo {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 10px;
    width: 240px;
    height: 60px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-main-logo a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 44px;
    letter-spacing: 5px;
}


/*-----------------------------HEADER's END------------------------------*/



/*-----------------------------BODY's START------------------------------*/
.container {
}

.title-main {
    height: 210px;
    text-align: center;
    padding-bottom: 50px;
}

.title-main h1 {
    letter-spacing: 4px;
    font-size: 52px;
    text-align: center;
}

.title-main span {
    font-size: 36px;
    letter-spacing: 2px;
}

.bg-text span {
    position: absolute;
    left: -25px;
    top: 55px;
    z-index: -999;
    font-weight: 900;
    font-size: 150px;
    color: rgba(128, 128, 128, 0.06);
}

.container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.go-without-button {
    margin-top: 15px;
}

.go-without-button a {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
}

.go-without-button a:hover {
    color: red;
    border: 2px solid red;
}
